.react-tabs {
    -webkit-tap-highlight-color: transparent;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    height: 440px;
    margin: 0px;
    padding: 0px;
  }

  .react-tabs__tab-list {
    border-bottom: 1px solid #fff;
    margin: 0 0 10px;
    padding: 0;
  }

  .react-tabs__tab {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px 5px 5px 5px;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
  }

  .react-tabs__tab:hover {
    text-decoration: underline;
  }

  .react-tabs__tab--selected {
    background: #303f9f;
    border-color: #303f9f;
    border: 1px solid #303f9f;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2px;
    margin-left: 1px;
    text-decoration: none;
  }

  .react-tabs__tab--selected:hover {
    text-decoration: none;
  }

  .react-tabs__tab--disabled {
    color: white;
    cursor: default;
  }

  .react-tabs__tab:focus {
    border-color: #fff;
    outline: none;
    color: #fff;
  }

  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }

  .react-tabs__tab-panel {
    display: none;
  }

  .react-tabs__tab-panel--selected {
    display: block;
  }
